# Dependency directories
node_modules/
dist/

# Local environment files
.env
.env.local

# Build output
.vite/

# System files
.DS_Store

# VS Code settings
.vscode/

.package-lock.json

.package.json
